# local package
-e ./src

# external requirements
autodoc
Sphinx
sphinx-autobuild
rstcheck
docutils
pydot
graphviz 
sphinx-rtd-theme
coverage
flake8

sklearn
pandas
icecream

jupyter
tqdm #progress bars
confuse #used for config loading
pyarrow #used to read and write parquet files
